<?xml version="1.0"?>
<config>
  <modules>
    <Peerius_Smartrecs>
      <version>1.0.8</version>
    </Peerius_Smartrecs>
  </modules>
  <frontend>
    <routers>
      <peerius_smartrecs>
        <use>standard</use>
        <args>
          <module>Peerius_Smartrecs</module>
          <frontName>peerius</frontName>
        </args>
      </peerius_smartrecs>
    </routers>
    <layout>
        <updates>
            <peerius_smartrecs>
                <file>smartrecs.xml</file>
            </peerius_smartrecs>
        </updates>
    </layout>
  </frontend>
  <global>
    <models>
      <peerius_smartrecs>
        <class>Peerius_Smartrecs_Model</class>
      </peerius_smartrecs>
      <catalogsearch>
        <rewrite>
          <layer>Peerius_Smartrecs_Model_SearchLayer</layer>
        </rewrite>
      </catalogsearch>
    </models>
    <blocks>
        <smartrecs>
            <class>Peerius_Smartrecs_Block</class>
        </smartrecs>
    </blocks>
    <helpers>
      <peerius_smartrecs>
        <class>Peerius_Smartrecs_Helper</class>
      </peerius_smartrecs>
    </helpers>
  </global>
  <adminhtml>
      <layout>
          <updates>
              <peerius_smartrecs>
                  <file>smartrecs.xml</file>
              </peerius_smartrecs>
          </updates>
      </layout>
  </adminhtml>
  <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <peerius_smartrecs after="Mage_Adminhtml">Peerius_Smartrecs_Adminhtml</peerius_smartrecs>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>
  <default>
    <peerius>
      <general>
        <client_name></client_name>
        <cronjob>4</cronjob>
        <testmode>1</testmode>
        <registrationstatus>0</registrationstatus>
        <registrationerror>0</registrationerror>
      </general>
      <home>
        <max>3</max>
      </home>
      <category>
        <max>3</max>
      </category>
      <product>
        <max>3</max>
      </product>
      <product2>
        <max>3</max>
      </product2>
      <search>
        <max>3</max>
      </search>
      <basket>
        <max>3</max>
      </basket>
    </peerius>
  </default>
</config>
